@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"); */

@font-face {
  font-family: Helvetica-Neue;
  src: url("/Helvetica Neue CE 55 Roman.ttf");
}

@font-face {
  font-family: Helvetica-Neue;
  font-weight: bold;
  src: url("/Helvetica Neue CE 75 Bold.ttf");
}

:root {
  --primary-color: #de0083;
  --slider-padding: 5rem;
}

html::-webkit-scrollbar {
  width: 0.75vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(222, 0, 131);
  border-radius: 30px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(222, 0, 131, 1);
}

html::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 1);
}

.events-scroll::-webkit-scrollbar {
  margin-top: 20px;
  width: 0.75vw;
}

.events-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(222, 0, 131);
  border-radius: 30px;
}

.events-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(222, 0, 131, 1);
}

.events-scroll::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.thumbnail::-webkit-scrollbar {
  margin-top: 20px;
  width: 0.2vw;
}

.thumbnail::-webkit-scrollbar-thumb {
  background-color: rgb(222, 0, 131);
  border-radius: 30px;
}

.thumbnail::-webkit-scrollbar-thumb:hover {
  background-color: rgba(222, 0, 131, 1);
}

.thumbnail::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}


.whatwedo-scroll::-webkit-scrollbar {
  margin-top: 20px;
  width: 0.75vw;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.whatwedo-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(222, 0, 131, 0.5);
  border-radius: 30px;
}


.whatwedo-scroll::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica-Neue, sans-serif;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
ul {
  list-style: none;
}

li,
.bottom {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
  transition: transform 0.25s ease-out;
  font-weight: 600;
}

li:hover {
  font-weight: 700;
  transform: scale(1.1);
}

.bottom::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bottom:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

li::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #de0083;
  transition: width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

li:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 900;
}
nav a:hover {
  color: var(--primary-color);
}

.hero {
  background-image: url("/5.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.title,
.title2,
.title3,
.title4 {
  position: relative;
}
.title2 {
  box-shadow: inset 500px 0 0 0 #ffffff;
  color: #de0083;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.title2:hover {
  box-shadow: inset 0px 0 0 0 #de0083;
  color: #ffffff;
}
.title4 {
  box-shadow: inset 2000px 0 0 0 #de0083;
  color: #ffffff;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.title4:hover {
  box-shadow: inset 0px 0 0 0 #ffffff;
  color: #de0083;
}
.title5 {
  box-shadow: inset 0px 0 0 0 #de0083;
  color: black;
  margin: 0 -0.25rem;
  padding: 0.3rem 0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.title5:hover {
  box-shadow: inset 2000px 0 0 0 #de0083;
  color: white;
}
.title3 {
  box-shadow: inset 500px 0 0 0 #de0083;
  color: white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.title3:hover {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: black;
}

.title::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: #de0083;
}

.bendybg {
  background-color: var(--primary-color);
  clip-path: polygon(
    100% 0%,
    100% 0%,
    100% 0%,
    100% 7%,
    0% 0%,
    0% 100%,
    100% 93%,
    100% 100%,
    100% 100%,
    100% 100%,
    100% 100%,
    100% 100%,
    100% 100%,
    100% 100%
  );
  height: 900px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.item {
  margin-top: 30px;
  min-height: 20rem;
  min-width: 20rem;
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.item:before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 9;
  background: linear-gradient(
    to top,
    rgba(35, 35, 37, 0.9) 0%,
    rgba(35, 35, 37, 0.55) 35%,
    rgba(22, 22, 23, 0.1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: rgba(35, 35, 37, 0.2);
  border-radius: 2rem;
  opacity: 1;
}
.inner-carousel {
  display: flex;
}

.carousel {
  width: 73%;
  cursor: grab;
  overflow: hidden;
  margin: 0 auto;
}

.active {
  border: 2px solid #de0083;
  transform: scale(1.3);
  transition: all 300ms;
}

.slideshowstories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* .slideshow {
  position: relative;
} */

.mainImg {
  transition: all 500ms;
  height: 600px;
}
.hello {
  position: relative;
}
.hello:before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 9;
  background: linear-gradient(
    to top,
    rgba(35, 35, 37, 0.9) 0%,
    rgba(35, 35, 37, 0.55) 35%,
    rgba(22, 22, 23, 0.1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: rgba(35, 35, 37, 0.2);
  opacity: 1;
}
.actions {
  position: absolute;
  top: 42%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  background: #0000008d;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 10px 40px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions button:active {
  background: #000000a2;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.thumbnail img {
  height: 100px;
  width: 200px;
  object-fit: cover;
  margin-right: 2px;
  border: 2px solid #de0083;
}

.bg-svg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1050' preserveAspectRatio='none' viewBox='0 0 1440 1050'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='1050' x='0' y='0' fill='rgba(236%2c 0%2c 140%2c 1)'%3e%3c/rect%3e%3cpath d='M1517.29 704.15C1353.46 697.76 1291.22 479.62 920.99 431.15 550.77 382.68 534.07-141.2 324.7-194.95' stroke='rgba(255%2c 255%2c 255%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1691.88 395.78C1581.31 394.28 1480.69 264.53 1269.49 264.53 1058.3 264.53 1087.64 410.75 847.11 395.78 606.57 380.81 592.71-128.43 424.72-199.88' stroke='rgba(255%2c 255%2c 255%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1593.5 494.56C1385.72 504.34 1167.48 883.15 847.03 862.06 526.59 840.97 661.61 53.6 473.8-134.99' stroke='rgba(255%2c 255%2c 255%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1685.79 592.36C1532.12 601.65 1396.15 918.82 1144.72 886.36 893.28 853.9 1018.33 170.49 874.18-15.65' stroke='rgba(255%2c 255%2c 255%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1713.36 398.73C1559.93 419.78 1433.68 790.93 1222.57 776.73 1011.46 762.53 1107.08 143.81 977.18-18.81' stroke='rgba(255%2c 255%2c 255%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='1050' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #de0083;
  transform-origin: 0%;
  z-index: 100;
}

.whoweare img {
  max-width: 450px;
  max-height: 300px;
}

@media (max-width: 767px) {
  .whoweare img {
    max-width: 250px;
    max-height: 300px;
  }
}

.text-inside {
  left: 50%;
  transform: translate(-50%);
}

.partner svg {
  width: 50px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
}

.partner:hover polygon,
.partner:hover path {
  transition: all 1s ease;
  fill: #de0083;
}

.partner:hover .arrow {
  animation: arrow-anim 2.5s ease infinite;
}
.partner:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s ease infinite;
}

.partner:hover div {
  color: #de0083;
  transition: color 0.5s ease;
}

polygon,
path {
  transition: all 0.5s ease;
}
@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.story svg {
  margin: 0;
}

.wrapper,
.single-card {
  position: relative;
}

.single-card {
  transition: all 1s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.wrapper:hover .single-card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  cursor: pointer;
  backface-visibility: hidden;
}

.back {
  padding: 20px 10px 0 10px;
  transform: rotateY(180deg);
  position: absolute;
  background-color: white;
  height: 100%;
  width: 270px;
  border-radius: 20px;
}

.newsletter {
  background-image: url("/newsletter.jpg");
  height: 500px;
  background-position: 10% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.newimg img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 50px;
}
.marquee {
  width: 100%;
  line-height: 30px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-70%, 0); }
}

.buttonhover div{
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.buttonhover div span{
  --c: #de0083;
  position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.buttonhover div:hover span {
  transform: translateY(0) scale(2);
}

.buttonhover div:hover{
  color: white;
}

.buttonhover div span:nth-child(1) {
  --n: 1;
}

.buttonhover div span:nth-child(2) {
  --n: 2;
}

.buttonhover div span:nth-child(3) {
  --n: 3;
}

.buttonhover div span:nth-child(4) {
  --n: 4;
}

html {
  scroll-behavior: smooth;
}

.design_image {
  width: auto !important;
  margin: 0 auto;
  height: auto !important;
  
}
li:hover > div  {
  display: block;
}

li:hover > .sub-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.sub-menu {
  display: none;
}
.resources{
  background-image: repeating-linear-gradient(135deg, rgb(77,79,83) , rgb(100,100,100) 1px, transparent 2px, transparent 5px);
}
.card__image{
  width: 100%;
  height: 200px;
}

.incubation_image img{
  width: 70%;
  height: auto;
}